version: "3"
services:
  db_postgres:
    build: ./postgres
    environment: 
      USER_PASSWORD: admin
      POSTGRES_PASSWORD: admin
    restart: unless-stopped

  # APP*****************************************
  ticket-log:
    build: ./ticker-log
    depends_on:
      - db_postgres
    links:
      - db_postgres
    volumes: 
      - ${DIRECTORY_PATH}:/usr/app

  ticket-log-front:
    build: ./ticket-log-front
    expose:
      - 4200
    ports:
      -4200:4200
    restart: unless-stopped
    depends_on:
      - db_postgres
    links:
      - db_postgres
      
volumes:
  postgres-data:
  